div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scroll-container img {
    width: 50%;
    height: 50%;
  }

  @media screen and (max-width: 1000px) {
    div.scroll-container img {
      width: 50%;
  	  padding: 5%;
      height: 50%;
    }
}

