h4 {
    font-family: 'Verdana';
    padding-left: 40;
    color: #ffffff;
    font-weight: bold;
}

p {
    color: #ffffff;
}

#bulldozer {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-align: center;
    color: blueviolet;
}


