{% extends "base.html" %}

{% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block title %} 
      CIDS DSPPP - Home
{% endblock %}

{% block content %}
<div>
      <h1>Data Science for</h1> 
      <h1>Public Policy</h1>
      <br><br>
      <h2>Photos from the 3rd Philippine<br>Data Analytics Conference</h2>
      <br><br>
      <h4>  "Policy Analytics Software: A Tool for Evidence-Based/Data-Drive Policy Analysis"<br>
            Sept. 20, 2024<br>
            Mapua University Makati
      </h4>
      <div class="slideshow-container">
            <div class="mySlides">
                  <div class="numbertext">1 / 7</div>
                  <img src="../static/MAPUA3PDAC/Alarcon.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                  <div class="numbertext">2 / 7</div>
                  <img src="../static/MAPUA3PDAC/Alarcon2.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                  <div class="numbertext">3 / 7</div>
                  <img src="../static/MAPUA3PDAC/Certificate.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                  <div class="numbertext">4 / 7</div>
                  <img src="../static/MAPUA3PDAC/Certificate2.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                  <div class="numbertext">5 / 7</div>
                  <img src="../static/MAPUA3PDAC/Panel.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                  <div class="numbertext">6 / 7</div>
                  <img src="../static/MAPUA3PDAC/Panel2.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                  <div class="numbertext">7 / 7</div>
                  <img src="../static/MAPUA3PDAC/Presentation.jpg" style="width:100%">
            </div>
            
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <!-- The dots/circles -->
      <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      </div>
            
</div>  
{% endblock %}
