{% extends "base.html" %}

{% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='members.css') }}">
{% endblock %}

{% block content %}

<h2>Members</h2>

<h4>DATA SCIENCE WORKING GROUP (DSWG)</h4>
<div class="cards">
    <div class="card">
      <img src="../static/mem_charlie.jpg" alt="Avatar">
      <div class="info">
        <p>
          Charlie E. Labarda<br> 
          Professor and Dean<br>
          Department of Medicine<br> 
          School of Health Sciences<br>
          UP Manila
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../static/mem_gay.png" alt="Avatar">
      <div class="info">
        <p>
          Dr Gay Defiesta<br> 
          Professor 5<br>
          Division of Social Sciences<br>
          College of Arts and Sciences<br>
          UP Visayas<br>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../static/mem_erik.png" alt="Avatar">
      <div class="info">
        <p>
          Erik Paolo S. Capistrano<br>
          Professor 2<br>
          Department of Business Administration<br>
          Cesar E.A. Virata School of Business<br>
          UP Diliman (plus Extension Programs)<br>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../static/mem_dan.jpeg" alt="Avatar">
      <div class="info">
        <p>
          Dan Anthony D. Dorado<br> 
          Assistant Professor<br>
          NA<br>
          School of Library and Information Studies<br>
          UP Diliman (plus Extension Programs)<br>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../static/mem_myra(1).png" alt="Avatar">
      <div class="info">
        <p>
          Dr. Myra Oruga<br>
          Associate Professor II<br>
          OVCAA<br>
          OVCAA<br>
          UP Open University<br>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../static/mem_liezel.png" alt="Avatar">
      <div class="info">
        <p>
          Maria Liezel C Eusebio<br>
          Assistant Professor 4<br>
          Industrial Engineering Department<br>
          CEAT UPLB<br>
          UP Los Baños<br>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../static/mem_marc.png" alt="Avatar">
      <div class="info">
        <p>
          Marc J. San Valentin<br>
          Associate Prof. V<br>
          Visual Communication<br>
          Fine Arts<br>
          UP Diliman (plus Extension Programs)<br>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../static/mem_therese.jpg" alt="Avatar">
      <div class="info">
        <p>
          Therese Marie Collantes<br>
          Associate Professor V<br>
          Department of Veterinary Paraclinical Sciences<br>
          College of Veterinary Medicine<br>
          UP Los Baños
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../static/mem_celia.png" alt="Avatar">
      <div class="info">
        <p>
          Celia dR. Medina<br>
          Professor<br>
          Institute of Weed Science Entomology and Plant Pathology<br>
          College of Agriculture and Food Science<br>
          UP Los Baños<br>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../static/mem_shirley.png" alt="Avatar">
      <div class="info">
        <p>
          SHIRLEY V. GUEVARRA (Temporary)<br>
          Prof. 12<br>
          Hotel, Restaurant and Institution Management<br>
          Home Economics<br>
          UP Diliman (plus Extension Programs)<br>
        </p>
      </div>
    </div>
  </div>
{% endblock %}