{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/stylesheets/members.css">
{% endblock %}

{% block title %} 
CIDS DSPPP - Members
{% endblock %}

{% block content %}

<h2>Data Science Community</h2>

<h4>DATA SCIENCE WORKING GROUP (DSWG)</h4>
<div class="cards">
  <div class="card">
    <img src="/static/mem_rickynellas.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Ricky Nellas</p>
      <p id="info-secondary">Executive Director, Institute of Chemistry,	Intelligent Systems Center,	University of the Philippines Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_johnrobbantang.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Johnrob Bantang</p>
      <p id="info-secondary">Associate Professor,	National Institute of Physics, College of Science, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_petercayton.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Peter Cayton</p>
      <p id="info-secondary">Associate Professor, School of Statistics, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_jrlansangan2.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Joseph Ryan Lansangan</p>
      <p id="info-secondary">Dean, Director of UP Interactive Learning Center, School of Statistics, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_fidelnemenzo.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Fidel Nemenzo</p>
      <p id="info-secondary">Chancellor, Institute of Mathematics and Physics, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_jaltontaguibao2.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Jalton Taguibao</p>
      <p id="info-secondary">Associate Professor, Political Science and Public Management, College of Social Science and Philosophy, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_jmyap.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Jan Michael Yap</p>
      <p id="info-secondary">Director, Computational Genomics and System Biology Program, Philippine Genome Center, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_erik.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Erik Paolo S. Capistrano</p>
      <p id="info-secondary">Professor 2, Department of Business Administration, Cesar E.A. Virata School of Business, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_reinermendoza.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Reiner Mendoza</p>
      <p id="info-secondary">Institute of Math, College of Science, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_rriverosambayan.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Rachelle Rivero-Sambayan</p>
      <p id="info-secondary">Institute of Math, College of Science, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_rrapolinario.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Rhea Rowena Apolinario</p>
      <p id="info-secondary">Assistant Professor/ Dean, School of Library and Information Studies, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_marc.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Marc J. San Valentin</p>
      <p id="info-secondary">Associate Prof. V, Visual Communication, Fine Arts, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_shirley.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Prof. Shirley V. Guevarra</p>
      <p id="info-secondary">Prof. 12, Hotel, Restaurant and Institution Management,Home Economics, UP Diliman</p>
    </div>
  </div>  
  <div class="card">
    <img src="/static/mem_nsoliven.jpeg" alt="Avatar">
    <div class="info">
      <p id="info-primary">Nelvie Fatima Jane A. Soliven</p>
      <p id="info-secondary">University Researcher 1, Natural Sciences Research Institute, College of Science, UP Diliman</p>
    </div>
  </div>  
  <div class="card">
    <img src="/static/mem_rlagria.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Raymond Freth A. Lagria</p>
      <p id="info-secondary">Assistant Professor, Department of Industrial Engineering and Operations Research,
        College of Engineering, UP Diliman</p>
    </div>
  </div> 
  <div class="card">
    <img src="/static/mem_ecabegin.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Emily Christi Cabegin</p>
      <p id="info-secondary">Professor III, School of Labor and Industrial Relations,
        School of Labor and Industrial Relations, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/img_avatar.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Anna Gamboa</p>
      <p id="info-secondary">Assistant Professor I, Department of Speech Communication and Theatre Arts,
          College of Arts and Letters,	UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_tpdeluna.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Teresa Paula de Luna</p>
      <p id="info-secondary">Professor I, Department of Speech Communication and Theater Arts, 
        College of Arts and Letters, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_klcruz.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Karl Lewis Cruz</p>
      <p id="info-secondary">Instructor IV, Department of Speech Communication and Theater Arts, 
        College of Arts and Letters, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_amanalo.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Abraham J. Manalo</p>
      <p id="info-secondary">Assistant Professor, National College of Public Administration and Governance, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_dmagnaye.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dina C. Magnaye</p>
      <p id="info-secondary">Associate Professor, School of Urban and Regional Planning,
        School of Urban and Regional Planning,	UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_liezel.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Maria Liezel C Eusebio</p>
      <p id="info-secondary">Assistant Professor 4, Industrial Engineering Department, CEAT UPLB, UP Los Baños</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_therese.jpg" alt="Avatar">
    <div class="info">
      <p id="info-primary">Therese Marie Collantes</p>
      <p id="info-secondary">Associate Professor V, Department of Veterinary Paraclinical Sciences, 
        College of Veterinary Medicine, UP Los Baños</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_celia.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Celia dR. Medina</p>
      <p id="info-secondary">Professor, Institute of Weed Science Entomology and Plant Pathology,
        College of Agriculture and Food Science, UP Los Baños</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_rroxasvillanueva.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Ranzivelle Marianne Roxas-Villanueva</p>
      <p id="info-secondary">Professor V, Institute of Mathematical Sciences and Physics,
        College of Arts and Sciences, UP Los Baños</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_rrecario.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Reginald Neil Recario</p>
      <p id="info-secondary">Assistant Professor, Institute of Computer Science, 
        College of Arts and Sciences, UP Los Baños</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_negarguin.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Neil Jerome A. Egarguin</p>
      <p id="info-secondary">Associate Professor 4, Institute of Mathematical Sciences and Physics,
        College of Arts and Sciences,	UP Los Baños</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_charlie.jpg" alt="Avatar">
    <div class="info">
      <p id="info-primary">Charlie Labarda</p>
      <p id="info-secondary">Professor and Dean, Department of Medicine, School of Health Sciences, UP Manila</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_amarcelo.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Alvin Marcelo</p>
      <p id="info-secondary">Managing Director, Philippine General Hospital,
        PGH Interoperability Lab, UP Manila</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_rsamriento.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Raymond Sarmiento</p>
      <p id="info-secondary">Director, National Telehealth Center,
        National Institute of Health, UP Manila</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_myra(1).png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Myra Oruga</p>
      <p id="info-secondary">Associate Professor II, OVCAA, OVCAA, UP Open University</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_ldepante.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Lianne Angelico Depante</p>
      <p id="info-secondary">Assistant Professor 1, Faculty of Management and Development Studies, UP Open University</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_rcabanes.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Ria Valerie D. Cabanes</p>
      <p id="info-secondary">Assistant Professor, Faculty of Management and Development Studies,
        Master of Arts in Nursing Program, UP Open University</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_rborromeo.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Ria Borromeo</p>
      <p id="info-secondary">Assistant Professor, Faculty of Information and Communication Studies, UP Open University</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_aflor.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Alexander Flor</p>
      <p id="info-secondary">Dean, Faculty of Information and Communication Studies, UP Open University</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_mlumanta.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Melinda Lumanta</p>
      <p id="info-secondary">Vice Chancellor, Office of the Vice Chancellor for Academic Affairs,
        UP Open University</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_dmaranan.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Diego Maranan</p>
      <p id="info-secondary">Assistant Professor & New Dean, Student Affairs & Multimedia Services,
        Faculty of Information and Communication Studies, UP Open University</p>
      </div>
  </div>
  <div class="card">
    <img src="/static/mem_vkobayashi.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Vladimer Kobayashi</p>
      <p id="info-secondary">Department of Mathematics, Physics, and Computer Science, UP Mindanao</p>
      </div>
  </div>
  <div class="card">
    <img src="/static/mem_algomez.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Aurelia Luzviminda V. Gomez</p>
      <p id="info-secondary">Associate Professor,	School of Management, UP Mindanao</p>
      </div>
  </div>
  <div class="card">
    <img src="/static/img_avatar.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Rosabella B. Montes</p>
      <p id="info-secondary">Assistant Professor 4, Computer Science and Mathematics,
        Division of Natural Sciences and Mathematics, UP Tacloban</p>
      </div>
  </div>
  <div class="card">
    <img src="/static/mem_gay.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Gay Defiesta</p>
      <p id="info-secondary">Professor 5, Division of Social Sciences, College of Arts and Sciences, UP Visayas</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_mlavides.jpeg" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Maria Margarita Lavides</p>
      <p id="info-secondary">UP Diliman Extension Programs in Pampanga</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_acarreon.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Prof. Angela Carreon</p>
      <p id="info-secondary">UP Diliman Extension Programs in Pampanga</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_dan.jpeg" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dan Anthony D. Dorado</p>
      <p id="info-secondary">Assistant Professor, School of Library and Information Studies, UP Diliman</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/mem_ebiflorano.png" alt="Avatar">
    <div class="info">
      <p id="info-primary">Dr. Ebinezer R. Florano</p>
      <p id="info-secondary">Professor IV and U.P. Scientist II, National College of Public Administration and Governance, UP Mindanao</p>
      </div>
  </div>
</div>

{% endblock %}

