{% extends "base.html" %}

{% block title %} 
      CIDS DSPPP - 2025 Events
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/programs.css') }}">
{% endblock %}


{% block content %}
<h2>Events</h2>

<h4 style="text-align: center"><br>Basic Bootcamp: Explainable AI for Public Policy | Day 1<br>July 14, 2025<br>UP CIDS Main Hall</h4>
<div class="scroll-container">
      <img src="../static/Bootcamp_Day_1/IMG_9274.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9280.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9281.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9282.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9283.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9287.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9288.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9290.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9292.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9297.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9299.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9304.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9309.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9311.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9313.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9327.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9329.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9331.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9333.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9336.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9337.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9338.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9344.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9345.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9346.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9347.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9350.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9353.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9355.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9357.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9364.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9366.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9367.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9370.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9377.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9378.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9380.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9385.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9387.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9390.jpg" width="600" height="400">
      <img src="../static/Bootcamp_Day_1/IMG_9396.jpg" width="600" height="400">
</div>

<h4 style="text-align: center"><br>Public Policy in the Philippines: Research Colloquium<br>April 10-11, 2025<br>UP CIDS | Zoom</h4>
<div class="scroll-container">
      <img src="../static/Program_for_Colloquium_2025.png" width="600" height="400">
      <img src="../static/2025_Colloqium_D1_1.png" width="600" height="400">
      <img src="../static/2025_Colloqium_D1_2.png" width="600" height="400">
</div>


{% endblock %}
