{% extends "base.html" %}

{% block title %} 
      CIDS DSPPP - Events
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='programs.css') }}">
{% endblock %}


{% block content %}
<h2>Events</h2>

<h4 style="text-align: center"><br>Hybrid Workshop on Data Science for Public Policy: Spatial and Text Data Analytics<br>July 29-31, 2024<br>UP CIDS</h4>

<div class="scroll-container">
      <img src="../static/RWorkshop/IMG_0958.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0961.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0964.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0965.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0966.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0970.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0973.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0974.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0977.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0979.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0981.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0983.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0984.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0988.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0990.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0991.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0993.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0998.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_0999.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1000.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1003.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1004.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1007.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1011.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1012.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1013.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1014.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1015.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1016.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1018.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1021.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1022.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1023.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1024.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1025.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1029.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1032.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1033.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1035.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1037.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1038.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1040.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1041.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1043.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1047.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1048.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1050.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1054.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1055.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1056.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1057.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1058.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1059.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1061.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1065.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1066.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1071.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1075.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1077.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1078.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1079.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1081.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1083.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1085.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1088.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1093.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1095.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1096.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1097.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1098.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1100.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1105.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1112.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1114.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1117.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1118.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1119.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1120.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1123.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1126.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1127.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1129.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1130.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1133.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1145.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1148.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1149.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1150.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1151.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1152.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1153.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1155.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1157.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1162.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1163.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1164.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1165.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1166.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1167.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1168.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1171.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1172.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1173.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1174.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1175.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1176.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1177.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1180.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1181.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1184.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1191.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1192.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1193.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1196.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1197.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1199.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1200.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1201.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1209.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1210.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1211.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1212.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1213.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1214.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1215.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1217.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1219.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1220.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1221.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1222.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1223.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1224.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1225.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1226.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1227.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1229.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1230.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1234.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1236.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1241.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1242.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1244.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1245.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1247.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1248.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1249.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1250.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1251.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1253.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1260.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1349.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1350.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1352.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1353.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1356.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1359.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1360.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1361.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1363.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1364.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1366.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1368.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1370.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1372.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1373.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1374.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1382.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1385.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1387.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1388.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1389.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1390.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1391.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1394.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1395.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1396.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1398.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1400.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1401.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1402.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1403.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1404.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1406.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1408.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1411.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1412.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1414.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1415.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1419.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1421.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1424.JPG" width="600" height="400">
      <img src="../static/RWorkshop/IMG_1427.JPG" width="600" height="400">
</div>

<h4 style="text-align: center"><br>The Social Weather Surveys of Economic Well-Being 1983-2024 | A Lecture <br>July 2, 2024<br>UP CIDS Conference Hall</h4>

<div class="scroll-container">
      <img src="../static/SWS/sws_1.jpg" width="600">
      <img src="../static/SWS/sws_2.jpg" width="600">
      <img src="../static/SWS/sws_3.jpg" width="600">
      <img src="../static/SWS/sws_4.jpg" width="600">
</div>

{% endblock %}
