{% extends "base.html" %}

{% block title %} 
      CIDS DSPPP - Events
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='programs.css') }}">
{% endblock %}


{% block content %}
<h2>Events</h2>

<h4 style="text-align: center"><br>Hybrid Workshop on Data Science for Public Policy: Spatial and Text Data Analytics<br>July 29-31, 2024<br>UP CIDS</h4>

<div class="scroll-container">
      <img src="../static/IMG_0970.JPG" width="600" height="400">
      <img src="../static/IMG_0961.JPG" width="600" height="400">
      <img src="../static/IMG_0964.JPG" width="600" height="400">
      <img src="../static/IMG_0965.JPG" width="600" height="400">
      <img src="../static/IMG_0966.JPG" width="600" height="400">
      <img src="../static/IMG_0958.JPG" width="600" height="400">
      <img src="../static/IMG_0970.JPG" width="600" height="400">
      <img src="../static/IMG_0973.JPG" width="600" height="400">
      <img src="../static/IMG_0974.JPG" width="600" height="400">
      <img src="../static/IMG_0977.JPG" width="600" height="400">
      <img src="../static/IMG_0979.JPG" width="600" height="400">
      <img src="../static/IMG_0981.JPG" width="600" height="400">
      <img src="../static/IMG_0983.JPG" width="600" height="400">
      <img src="../static/IMG_0984.JPG" width="600" height="400">
      <img src="../static/IMG_0988.JPG" width="600" height="400">
      <img src="../static/IMG_0990.JPG" width="600" height="400">
      <img src="../static/IMG_0991.JPG" width="600" height="400">
      <img src="../static/IMG_0993.JPG" width="600" height="400">
      <img src="../static/IMG_0995.JPG" width="600" height="400">
      <img src="../static/IMG_0998.JPG" width="600" height="400">
      <img src="../static/IMG_0999.JPG" width="600" height="400">

</div>

{% endblock %}
