{% extends "base.html" %}

{% block title %} 
      Data Science for Public Policy Program - 2025 Events
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/programs.css') }}">
{% endblock %}


{% block content %}
<h2>Events</h2>

<h4 style="text-align: center"><br>Advanced Bootcamp: Explainable Artificial Intelligence (XAI) for Public Policy:<br>Explainable AI, AI Ethics, and GPT for Public Policy<br>December 8-12, 2025<br>SOLAIR, UP Diliman</h4>
<div class="scroll-container">
      <img src="../static/1stBasicBC/IMG_9274.jpg" width="600" height="400">
</div>

<h4 style="text-align: center"><br>XAI for NGOs<br>October 15-17, 2025<br>Eurotel, North EDSA, Quezon City</h4>
<div class="scroll-container">
      <img src="../static/1stBasicBC/IMG_9274.jpg" width="600" height="400">
</div>

<h4 style="text-align: center"><br>Intermediate Bootcamp: xAi for Public Policy: AI Informed Human Directed Public Policy Making<br>September 22-26, 2025<br>SOLAIR, UP Diliman</h4>
<div class="scroll-container">
      <img src="../static/1stBasicBC/IMG_9274.jpg" width="600" height="400">
</div>

<h4 style="text-align: center"><br>2nd Basic Bootcamp: Explainable AI for Public Policy<br>September 1-5, 2025<br>SOLAIR, UP Diliman</h4>
<div class="scroll-container">
      <img src="../static/1stBasicBC/IMG_9274.jpg" width="600" height="400">
</div>

<h4 style="text-align: center"><br>1st Basic Bootcamp: Explainable AI for Public Policy<br>July 14-18, 2025<br>UP CIDS Main Hall</h4>
<div class="scroll-container">
      <img src="../static/1stBasicBC/IMG_9274.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9280.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9281.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9282.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9283.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9287.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9288.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9290.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9292.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9297.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9299.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9304.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9309.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9311.jpg" width="600" height="400">
      <img src="../static/1stBasicBC/IMG_9313.jpg" width="600" height="400">
</div>


<h4 style="text-align: center"><br>Public Policy in the Philippines: Research Colloquium<br>April 10-11, 2025<br>UP CIDS | Zoom</h4>
<div class="scroll-container">
      <img src="../static/Program_for_Colloquium_2025.png" width="600" height="400">
      <img src="../static/2025_Colloqium_D1_1.png" width="600" height="400">
      <img src="../static/2025_Colloqium_D1_2.png" width="600" height="400">
</div>


{% endblock %}
