{% extends "base.html" %}

{% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/public-policy-presentations.css') }}">
{% endblock %}

{% block title %} 
      CIDS DSPPP - Research Corner
{% endblock %}

{% block content %}
<h2>Research Corner</h2>

<h4>Policy Briefs 2024</h4>

<br>
      <h5>
            <a href="https://cids.up.edu.ph/download/lessons-from-pakikipagkapwa-strengthening-ph-anti-discrimination-efforts-more-inclusive-society-policy-brief/">
                  Lessons from Pakikipagkapwa:<br>Strengthening Philippine Anti-Discrimination Efforts For a More Inclusive Society
            </a>
      </h5>
      <p>
            by:<br>
            Maria Margarita Lavides, PhD<br>
            Vladimer Kobayashi, PhD<br>
            Cristabel Tiangco<br>
            Purisima Panlilio, PhD<br>
            Remi De Leon<br>
            Angela Carreon<br><br>
      </p>

      <h5>
            <a href="https://cids.up.edu.ph/download/islamic-finance-needed-wanted-but-unavailable-how-can-government-promote-islamic-finance-in-the-philippines-policy-brief/">
                  Islamic Finance: Needed, Wanted, but Unavailable<br> 
                  How Can Government Promote Islamic Finance in the Philippines
            </a>
      </h5>
      <p>
            by:<br>
            Jane Lynn D. Capacio<br>
            Juan Carlos Rodriguez<br><br>
      </p>
      <h5>
            <a href="https://cids.up.edu.ph/download/management-policy-recommendations-mprovement-mpa-management-miagao-iloilo-philippines/">
                  Management and Policy Recommendations for the Improvement of<br>MPA Management in Miagao, Iloilo Philippines
            </a>
      </h5>
      <p>
            by:<br>
            Joshua M. Regalado<br><br>
      </p>

      <h5>
            <a href="https://cids.up.edu.ph/download/artificial-intelligence-marine-litter-monitoring-tracking-investing-ai-technologies-the-philippines/">
                  Artificial Intelligence and Marine Litter Monitoring and Tracking:<br>Investing in AI Technologies in the Philippines
            </a>
      </h5>
      <p>
            by:<br>
            Vladimer Kobayashi, PhD<br>
            Neil Angelo Abreo<br><br>
      </p>


{% endblock %}