{% extends "base.html" %}

{% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/videos.css') }}">
{% endblock %}

{% block title %} 
      CIDS DSPPP - Videos
{% endblock %}

{% block content %}
<h2>Proceedings</h2>

<video width="640" height=480" controls><source src="../static/vid1.mp4" type="video/mp4"></video>
<h4>PA 244 - Cinense and Suguitan</h4>
<h4>Incidence of Car Crash in the Philippines</h4>
<br><br>
<video width="640" height=480" controls><source src="../static/vid2.mp4" type="video/mp4"></video>
<h4>PA 244 - Curiano and Bahan</h4>
<h4>Policy Analysis on the Closure of Window for Establishment of Digital Banks</h4>
<br><br>

{% endblock %}