{% extends "base.html" %}

{% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/videos.css') }}">
{% endblock %}

{% block title %} 
      CIDS DSPPP - Proceedings
{% endblock %}

{% block content %}
<h2>Proceedings</h2>

<iframe src="https://drive.google.com/file/d/1-wuSAafvbLFBE5eztvJTbk-edwN3bcpQ/preview" width="640" height="480" allow="autoplay"></iframe>
<h4>PA 244 - Cinense and Suguitan</h4>
<h4>Incidence of Car Crash in the Philippines</h4>
<br><br>
<iframe src="https://drive.google.com/file/d/1TLeKaVpzGZQIqJtjA7qFGO0k9pDPoprn/preview" width="640" height="480" allow="autoplay"></iframe>
<h4>PA 244 - Curiano and Bahan</h4>
<h4>Policy Analysis on the Closure of Window for Establishment of Digital Banks</h4>
<br><br>

{% endblock %}