h2 {
    font-family: 'Bowlby One SC';
    text-align: center;
    background: -webkit-linear-gradient(#D5E4BB, #ffffff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    font-size: 50px;
}

p {
    font-family: 'Verdana';
    padding-left: 40;
    padding-right: 40;
    text-align: justify;
    text-justify: inter-word;
    color: #ffffff;
    font-size: 20px;
}

.obj {
    padding-left: 80;
}

#objtree {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}