h1 {
    font-family: 'Bowlby One SC';
    text-align: center;
    background: -webkit-linear-gradient(#D5E4BB, #ffffff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    font-size: 90px;
}

.home {
    background-image: url('./IMG_1242.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
  }
