body {
    background-image: url('rcoverworkshop2.png');
    background-size:contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1000px)
{
    body {
        background-image: none;
    }
}