div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scroll-container img {
    padding: 20px;
    width: 40%;
    height: 40%;
  }

  @media screen and (max-width: 1000px) {
    div.scroll-container img {
      width: 40%;
      height: 40%;
    }
}