h4 {
    font-family: 'Verdana';
    padding-left: 40;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#bulldozer {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
