body {
    background-color: #a3c368;
}

h1 {
    font-family: 'Bowlby One SC';
    text-align: center;
    background: -webkit-linear-gradient(#D5E4BB, #ffffff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    font-size: 100px;
}

p {
    padding: 0px 80px;
    font-size: 15px;
}

.PageMainContents{
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
}



h2 {
    font-family: 'Bowlby One SC';
    text-align: center;
    background: -webkit-linear-gradient(#D5E4BB, #ffffff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    font-size: 40px;
    padding: 0px 80px;
}

h4 {
    font-family: 'Verdana';
    padding-left: 80px;
    color: #ffffff;
    font-weight: bold;
    padding: 0px 80px;
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    font-family: Montserrat;
    font-weight: 900;
    top: 0;
    width: 100%;   
  }

#navbarMain {
    list-style-type: none;
    top: 0;
    padding: 10px 100px;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.2s ease;
    width:100%; 
    font-size: 15px;
}

.mobileMenuOpenButton {
    display: none;
}

#overlay content{
    display: none;
}

#mobileMenu {
    display: none;
}

#navbarMain.scrolled {
  
  background-color: #445e13;
  box-shadow: 0px 4px 7px #777;
} 


#navbarMain li {
    padding: 35px 10px;
}

#navbarMain li a {
    padding: 0px 20px;
    display: block;
    color: #000000
}

#navbarMain li a:hover {
    color: #000000;
    background-color: #ffffff;
  }
  
  
#navbarMain li a:active {
    color: white;
  }

footer {
    background-color: aquamarine;
    text-align: center;
    font-size: 11px;
    width: 100%;
    position: relative;
    height:auto;
    bottom: 0;
}


@media screen and (max-width: 1000px)
{
    #icon {
        size: 100px;
    }

    .mobileMenuOpenButton {
        display: block;
        padding-left: 15px;
    }

    #mobileMenu {
        display: block;
    }
    
    h1 {
        font-family: 'Bowlby One SC';
        text-align: center;
        background: -webkit-linear-gradient(#D5E4BB, #ffffff);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
        font-size: 40px;
    }

    .PageMainContents{
        padding-top: 10px;
    }

    span {
        display: inline-block;
        width: 50px;
      }

    #navbarMain  {
        display: none;
       }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        background-color: rgb(6, 29, 2);
        background-color: rgba(6, 29, 2, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        line-break: strict;
      }
      
    #mobileMenuContents {
        position: relative;
        top: 35;
        display: inline;
        width: auto;
        text-align: center;
        padding-top: 50px;
        transition: 0.3s;
      }
      
    .overlay a {
        padding: 6px;
        text-decoration: none;
        font-size: 15px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
      }
      
    .overlay a:hover, .overlay a:focus {
        color: #a2d65e;
      }
    
    #mobileMenuCloseButton {
        position: absolute;
        padding-top: 0px;
        z-index: 2;
        top: 0px;
        right: 25px;
        font-size: 40px;
    }
   
}
    
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}

    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}